{% extends "base.html" %}
{% block title %}Запись {{ author.get_full_name }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        {% include 'includes/author_card.html' %}
        {% if post.group %}               
            <li class="list-group-item">
              Группа: {{ post.group.title }}
              <a href="{% url 'posts:group_posts' slug=post.group.slug %}">
                все записи группы
              </a>
            </li> 
        {% endif %} 
      </div>
      <div class="col-md-9">
        {% include "includes/post_item.html" with post=post %}
        {% include 'includes/comments.html' %}
      </div>
    </div>
  </main> 
{% endblock %} 